# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini

# Editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Arquivos temporários
*.tmp
*.temp
*.log
~*

# Variáveis e segredos locais
.env
.env.*
!.env.example

# Dependências e builds
node_modules/
dist/
build/
coverage/

# SQL

sql/

# Teste
enviroments_config.js
enviroments_config_teste.js